body{
    background-color: darkgray;
    height: 1500px;
}
.class{
    height: 100px;
    width: 200px;
    background: wheat;
    border: 5px groove red;
    border-radius: 25px;
    box-shadow: 5px 5px purple;
     font-size: 20px;
}
.class1{
    width: 350px;
    position: relative;
    margin-left: 40%;
    text-align: center;
    color: purple;
    font-weight: 900;
    font-style: italic;
    padding-top: 20px;
}
.box{
    height: 600px;
    border: 5px solid green  ;

 
}
.box1{
    height: 200px;
    width: 200px;
    border: 5px groove red;
    border-radius: 25px;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    position: relative;
    background-color: wheat;
    box-shadow: 5px 5px purple;
    
}
.box2{
    height: 200px;
    width: 200px;
    border: 5px groove red;
    border-radius: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
    position: absolute;
    right: 40px;
    top: 170px;
    background-color: wheat;
    box-shadow: 5px 5px purple;
    

}
.box3{
    height: 200px;
    width: 200px;
    border: 5px groove red;
    border-radius: 25px;
    position: relative;
    top: 60px;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    background-color: wheat;
    box-shadow: 5px 5px purple;

}
.box4{
    height: 200px;
    width: 200px;
    border: 5px groove red;
    border-radius: 25px;
    position: absolute;
    top: 430px;
    right: 40px;
    padding: 10px 10px 40px 10px;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
    background-color: wheat;
    box-shadow: 5px 5px purple;
}
.box5{
    position: fixed;

    bottom: 0px;
    height: 120px;
    width: 500px;
    border: 5px groove red;
    border-radius: 25px;
    background-color: yellowgreen;
    display: flex;
    margin-left: 30%;
    font-style: italic;
    color: red;
    box-shadow: 5px 5px purple;

}
.class2{
    height: 600px;
    width: 750px;
    background-color: green;
    margin-left: 25%;
    position: absolute;
    z-index: -1;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 4px solid purple;
}
.f1{
    margin-top: 150px;
    margin-left: 340px;
    height: 240px;
    width: 380px;
    position: absolute;
    z-index: -1;
    background-color: palegoldenrod;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.f2{
    margin-top: 150px;
    margin-left: 730px;
    height: 240px;
    width: 350px;
    position: absolute;
    z-index: -1;
    background-color: palegoldenrod;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.f3{
    
    height: 240px;
    width: 730px;
    position: absolute;
    z-index: -1;
    margin-top: 400px;
    margin-left: 350px;
    background-color: palegoldenrod;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}